body{
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 20px;
    color: #363958;

}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    color: #363958;

}
h3{
    font-size: 24px;
    font-weight: 700;
    color: #363958;

}
p{
    color: dimgray;
    line-height: 28px;
    padding-bottom: 30px;

}
.orange-highlight{
    color: #FF8367;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
  width: 100%;  
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( #F46060, #FF8063);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.about {
    min-height: 500px;
    padding-bottom: 70px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    background-color: white
}
.latest-project-wrapper {
    min-height: 500px;
    background-color: #F8F9FC;
    padding-top: 0;
    height: 814px;
}

.project{
    width: 25%;
    float: left;
    margin-left: 5%;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    height: 70%;
    background-color: white;
    padding:15px;
}


#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.cta-image{
    width: 906px;
    height: 225px;
    
}
footer p{
   text-align: center; 
   font-size: 12px;
}
.container{
    max-width:1170px;
    margin:0 auto;
}

.nav{
    list-style: none;
    float: right;
    margin: 0;
}

.nav li a {
    text-decoration: none;
    color:#3C3C3C;
    font-size:16px;
    line-height:24px;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    margin: 0px 15px;
}

header.header_area {
    padding: 40px 0px;
}
section.top-banner {
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 500px;
}

.top-banner-first-col{
    padding-top: 50px;
}

.about .link-button span img {
    height: 24px;
    width: 24px;
}

.about .link-button span {
    margin-right:15px;
}
.link-button {
    width: 170px;
    height: 60px;
    display: flex;
    max-width: 170px;
    justify-content: center;
    align-items: center;
}

.project img{
    max-width:100%;
}
.lastest-project h2{
    text-align:center;
    margin-bottom: 90px;
    padding-top: 125px;
}

.project h3 {
    padding: 0px 5px;
    margin-top: 30px;
    margin-bottom:20px;
    font-size: 22px;
}
.project p{
    padding:0px 5px;
    margin:0;
   
}

.about-second-col{
    padding-top:50px;
}

.cta-area{
    position: relative;
    max-width: 906px;
    margin: 0 auto;
    height: 225px;
    padding-top: 80px;
}

.cta-image{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: -1;
}

.cta-image img{
    max-width: 100%;
}

.cta-area h2{
    float: left;
    margin: 0;
    margin-left: 70px;
    color: #fff;
}
.cta-area a{
    float: right;
    margin-right: 65px;
}
section.cta-section {
    padding-top: 100px;
}

.footer-content h4{
    color:#696871;
    font-size:24px;
    font-weight:700;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
.footer-content p{
    color:#363958;
    font-size:36px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    padding: 0;
    margin: 20px 0px;
}

.footer-content .social-icons a{
    margin:0px 10px;
}
.footer-content .social-icons a img{
    height:40px;
    width:40px;
}
.footer-content{
    text-align:center;
}
footer.footer-section {
    padding-bottom: 80px;
}
.skill-section{
    min-height:400px;
}

.skill-content h2{
    text-align: center;
}

.skill h3{
    margin: 0;
    padding:0;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.skill p{
    margin: 0;
    padding:0;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.skill {
    padding: 30px;
    width: calc(25% - 60px);
}
.skill a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color:#FF8367;
    font-weight: 600;
}

.skill-1{
    border-left:5px solid #FF8367;
}
.skill-2{
    border-left:5px solid rgb(62, 1, 231);
}
.skill-3{
    border-left:5px solid  #04b1b1;
}